@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: 'Noto Sans TC', sans-serif !important;
  font-weight: normal;
}

html,
body {
  height: 100vh;
  margin: 0;
  font-weight: bold;
}

.rsc-header-title {
  font-size: 1.2rem;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]) {
  box-shadow: none;
}





/* @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

html,body {
  margin: 0;
  font-size: 16px;
  font-family: 'Noto Sans TC', sans-serif;
}

a {
  color: #00bcd4;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #1976d2;
}

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
  margin-bottom: 50px;
}

.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}



.card-heading {
  padding: 16px;
}

.field-line,
.button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}

@media(max-width:768px){
    .background{
    background-image:url('../imgs/background_landing_xs.png');
    height:100vh;
    padding-top:15px;
    background-position:bottom center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media(max-width:992px){
  
}
@media(min-width:992px){

}
@media(min-width:1200px){

} */